<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.examper.chatyoxmpp.android.main">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:name=".ChatYoApplication"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".view.activity.LoginActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.MainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="www.examper.com"
                        android:pathPattern="/search_results"
                        android:scheme="http"/>
            </intent-filter>
        </activity>
        <!-- chat components starts-->
        <activity
                android:name="com.examper.chatyoxmpp.android.main.view.activity.UserChatActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <provider
                android:name="com.examper.chatyoxmpp.android.main.xmpp.ChatProvider"
                android:authorities="com.examper.chatyoxmpp.android.main.Database.chat" />

        <receiver android:name="com.examper.chatyoxmpp.android.main.xmpp.ChatBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <service android:name="com.examper.chatyoxmpp.android.main.services.XMPPService">
            <intent-filter>
                <action android:name="de.hdmstuttgart.yaxim.XMPPSERVICE" />
            </intent-filter>
        </service>
        <!--Chat components ends-->
    </application>

</manifest>